<template>
  <v-container fill-height text-xs-left>
    <v-layout row align-top justify-center>
      <v-flex xs12>
        <v-card class="ma-3" dark>
          <v-card-title class="display-1">
            Bio
          </v-card-title>
          <v-divider light></v-divider>
          <v-card-text class="headline">
            Hi! I'm Tom and welcome to my site! I am full stack developer,
            I have included my most prominent language proficiencies in the skills tab.
            However, I am happy and ready to learn new frameworks/languages (Except .NET sorry Microsoft).
          </v-card-text>
        </v-card>
        <v-card class="ma-3" dark>
          <v-card-title class="display-1">
            Contact Me
          </v-card-title>
          <v-divider light></v-divider>
          <v-card-text class="headline">
            I am currently looking for full time employment after I graduate in December 2019!
            Please contact me if you are interested in hiring me.
            My LinkedIn, Github, Resume, and email are at the top right.
          </v-card-text>
        </v-card>
        <v-card class="ma-3" dark>
          <v-card-title class="display-1">
            Education
          </v-card-title>
          <v-divider light></v-divider>
          <v-card-text class="headline">
            <ul>
              <li>B.S. in Computer Science</li>
              <li>Minor in Math</li>
            </ul>
          </v-card-text>
        </v-card>
        <v-card class="ma-3" dark>
          <v-card-title class="display-1">
            Relevant Coursework
          </v-card-title>
          <v-card-text>
            All of these courses will be completed by December 2019
          </v-card-text>
          <v-divider light></v-divider>
          <v-card-text class="headline">
            <ul>
              <li>CPS 356: Operating Systems</li>
              <li>CPS Special topics: Web 3.0 Semantics</li>
              <li>CPS 472: Computer & Network Security</li>
              <li>CPS Special topics: Secure Application Development</li>
              <li>CPS 352: Concepts & Implementations of Programming Languages</li>
              <li>CPS 490 & 491: Capstone </li>
              <li>CPS 342: Emerging Programming Languages</li>
              <li>MTH 301: Matrix Theory</li>
              <li>MTH 361: Introduction to Abstract Algebra</li>
            </ul>
          </v-card-text>
        </v-card>
        <v-card class="ma-3" dark>
          <v-card-title class="display-1">
            Fun Facts
          </v-card-title>
          <v-divider light></v-divider>
          <v-card-text class="headline">
            <ul>
              <li>My favorite languages are Kotlin and Rust</li>
              <li>I really like Jetbrains IDEs. (VSCode is cool too)</li>
              <li>My favorite part of my summer jobs was eating lunch with all the other devs</li>
            </ul>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  components: {}
}
</script>
